.auth-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}

.auth-header-title {
  font-family: var(--ds-font-sans);
  font-weight: 700;
  font-size: var(--ds-font-size-h2);
  color: var(--ds-secondary);
}

@media screen and (min-width: 768px) {
  .auth-header-title {
    font-size: var(--ds-font-size-h1);
  }
}
