.footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer p {
  font-family: var(--ds-font-sans);
  font-weight: 300;
  font-size: var(--ds-font-size-small);
  color: var(--ds-text-muted);
}

.footer-link-text {
  display: flex;
  gap: 10px;
}
